.login-buttons-dropdown-align-right {
    float: right;
    margin-top: 50px;
}

/* messages table */
.messages {
    border: 0;
    border-top:  1px solid lightgrey;
    width: 100%;
}
.messages tr {
    border-bottom: 1px solid lightgrey;
}
.messages tr.error {
    background-color: #ffc1c1;
}
.messages tr.hint {
    background-color: #d0deff;
}
.messages tr.help {
    background-color: #fff8be;
}
.messages td {
    vertical-align: top;
}
.messages td p {
    margin: 0;
}
.messages .time,
.messages .name {
    width: 1%;
}
.messages .time {
    text-align: right;
}

button.vendor {
  margin-bottom: 5px;
}