/* CSS declarations go here */
.login-buttons-dropdown-align-right {
    float: right;
    margin-top: 50px;
}

/* messages table */
.messages {
    border: 0;
    border-top:  1px solid lightgrey;
}
.messages tr {
    border-bottom: 1px solid lightgrey;
}
.messages td {
    vertical-align: top;
}

/*.messages .tr p:nth-child(2)*/

/* vendor and participant list */
h3 a {
    color: darkred;
    font-size: 16px;
    position: relative;
    top: -2px;
}
h3 a:hover {
  color: red;
}

button.vendor {
  width: 100%;
  margin-bottom: 5px;
}