/* CSS declarations go here */
.login-buttons-dropdown-align-right {
    float: right;
    margin-top: 50px;
}

/* messages table */
.messages {
    border: 0;
    border-top:  1px solid lightgrey;
    width: 100%;
}
.messages tr {
    border-bottom: 1px solid lightgrey;
}
.messages td {
    vertical-align: top;
}
.messages .time,
.messages .name {
    width: 1%;
}
.messages .time {
    text-align: right;
}

/*.messages .tr p:nth-child(2)*/

button.vendor {
  margin-bottom: 5px;
}